
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=Dashboard
Exec=gnome-terminal -t "Dashboard" -x bash -c /opt/pivotal/IoT-ConnectedCar/IoT-Scripts/start_dashboard.sh
Name=Dashboard
Icon=/usr/share/icons/gnome/scalable/apps/gnome-remote-desktop.svg
