$background-black: #3C3D41;
$background-black-hover: #333;
$background-black-selected: #2A2B2D;
$black: #000;
$darker-gray: #333;
$dark-gray: #666;
$light-gray: #DDDDDD;
$lighter-gray: #E2E2E2;
$off-white: #F1F1F1;
$almost-white: #FAFAFA;
$white: #FFFFFF;

$orange: #EF632B;
$teal: #0F786E;
